.user {
font-size: 2em;
color: #86af49;
margin-bottom: 20px;
color: #3e4444;
}
  /*zebra striped */
.user:nth-child(even){
  background-color: #c0ded9;
}
    /*change background color on mouse hover*/
.user:hover {
  background-color: #5b9aa0;
}
  /*style top search bar*/
.search-box{
 height: 60px;
 width: 100%;
 font-size: 1.5em;
 margin-bottom: 40px;
}
  /*on input box click */
.search-box:focus {
  background-color: #eaece5;
}
